body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('OIP.jpeg') center/cover no-repeat fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

h1, h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.passes p {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.accuracy {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}

#timer {
    font-size: 1.2em;
    margin: 20px 0;
}

#countdown {
    font-size: 2em;
    color: #ff0;
    animation: pop 1s infinite;
}

@keyframes pop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.9em;
        padding: 10px;
    }

    .accuracy {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }
}
